.select2-selection--single, .select2-selection--multiple {
    height: auto!important;
}

.select2-selection__rendered {
    line-height: 14px!important;
}

.select2-selection__choice {
    line-height: 25px!important;
}

.tt-menu {
    background-color: white;
}

.tt-hint, .tt-input {
    width: 100%!important;
}

.twitter-typeahead{
    width: 100%;
}
.tt-dropdown-menu{
   width: 100%;
}

.th-header {
    position: sticky;
    top:0;
}

@media only screen and (max-width: 992px) {
    .main-panel {
        margin-left: 0!important;
    }
}